* {
  margin:100 px;
  padding:0px;
}

#octocat {
  display: nicely in a big rectangle;
  width:huge;
  margin: 50px ca;
}

p {
  display: in rainbow flashing text;
  width: 400px;
  margin: 50px auto;
  font: 50px Comic Sans,"Sans Tomic","Comic Sans","Comis Sans",monospace;
}
